@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    color: #efc0b9;
}

body {
    background-color: #150408;
    background-image: url(https://raw.githubusercontent.com/KevinParraDev/Portafolio/main/public/img/sky.png);
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: 40%;
}

@media screen and (max-width:600px) {
    body {
        background-size: 100%;
    }
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    color: aliceblue;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

@media screen and (max-width:600px) {
    body {
        width: 100%;
    }
}

.navbar.scrolled {
    background-color: #11000298;
}

.icono-navbar {
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    transition: 0.32s ease-in-out;
}

.nav-links a:hover {
    filter: brightness(120%);
}

.nav-buttons {
    display: inline-flex;
}


.nav-icon {
    padding: 0 10px;
}

.nav-image {
    height: 50px;
    width: 50px;
    border: #efc0b9 3px solid;
    border-radius: 5px;
    transition: all 200ms;
}

.nav-image:hover {
    filter: brightness(120%);
}

.right-buttons {
    display: inline-flex;
}

.contactame {
    border: #efc0b9 3px solid;
    border-radius: 5px;
    padding: 8px;
    transition: all 200ms;
    margin-inline: 10px;
}

.project-buttons {
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.play-button {
    border: #efc0b9 3px solid;
    border-radius: 5px;
    padding: 8px;
    padding-inline: 40px;
    transition: all 200ms;
    margin-inline: 50px;
}

.play-button a {
    text-decoration: none;
}

.contactame:hover {
    filter: brightness(120%);
}

.contactame a {
    text-decoration: none;
}

/* ------------------  Nav  -------------------- */
.overlay-content a {
    text-decoration: none;
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s;
    font-weight: 700;
}

.overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-close {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(21, 4, 8, 193);
    overflow: hidden;
    transition: all 0.3s;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(21, 4, 8, 193);
    overflow: hidden;
    transition: all 0.3s;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

.menu {
    display: none;
}

.overlay-nav-buttons {
    display: inline-block;
}

@media screen and (max-width:600px) {
    .overlay-content a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 25px;
        top: 30px;
        right: 40px;
    }
}

@media screen and (max-width:800px) {

    .nav-links,
    .btn,
    .nav-buttons,
    .contactame {
        display: none;
    }

    .menu {
        display: block;
        border: #efc0b9 3.5px solid;
        border-radius: 10px;
        padding: 8px;
    }
}


/* ------------------  Banner  -------------------- */
.banner {
    padding-top: 200px;
    padding-bottom: 120px;
    text-align: center;
}

.banner h1 {
    font-size: 65px;
}

.welcome h2 {
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width:800px) {
    .banner {
        padding-top: 150px;
        padding-bottom: 70px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .welcome h2 {
        font-size: 20px;
    }
}

/* ------------------  Skills  -------------------- */

.skills {
    width: 100%;
    height: auto;
    user-select: none;
}

.skills-movil {
    width: 100%;
    height: auto;
    display: none;
}

@media screen and (max-width:800px) {
    .skills {
        display: none;
    }

    .skills-movil {
        display: block;
    }
}

/* ------------------  Projects  -------------------- */

.subtitulo {
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
}

.videos-proyectos {
    width: 100%;
    height: auto;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.subtitulo-videos {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.contenedor-reel {
    padding-bottom: 20px;
}

.reel {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    padding: 10px;
}

.proyectos {
    width: 100%;
    height: auto;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.proyectos-cards {
    justify-content: center;
    background-color: #2a0d14;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 400ms ease;
}

.proyectos-cards p {
    padding-bottom: 10px;
}

.proyectos-cards:hover {
    margin: 0px;
}

.video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.image-project {
    width: 100%;
    height: auto;
    border-radius: 30px;
    user-select: none;
}

.image-project-active {
    width: 100%;
    height: auto;
    border-radius: 30px;
    opacity: 0;
    user-select: none;
}

@media screen and (max-width:1000px) {
    .proyectos {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .proyectos-cards {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:800px) {

    .videos-proyectos {
        width: 100%;
        height: auto;
        padding: 0px 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .subtitulo-videos {
        text-align: center;
        font-size: 25px;
        padding-bottom: 5px;
    }

    .proyectos {
        padding: 0px 30px;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .proyectos-cards {
        width: 100%;
        height: auto;
    }
}

/* ------------------  Individual Projects  -------------------- */

.game {
    align-items: center;
    text-align: center;
    padding: 30px 40px;
}

.game h1 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.game-box {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.game-box img {
    width: 100%;
    height: auto;
}

.game-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.game-box p {
    text-align: justify;
    margin-bottom: 40px;
}

.carrusel-lista {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.screenshot {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 200ms;
}

.screenshot-active {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(40%);
    transition: all 200ms;
}

.enlace {
    text-align: left;
}

@media screen and (max-width:800px) {
    .game h1 {
        font-size: 30px;
    }

    .game h2 {
        font-size: 20px;
    }

    .game h3 {
        font-size: 15px;
    }

    .game-box {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 0px;
    }

    .game-box p {
        font-size: 20px;
    }

    .game {
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}

/* ------------------  Contact  -------------------- */

.formulario-contacto {
    align-items: center;
    text-align: center;
    padding: 20px 100px;
}

.formulario-contacto input,
textarea {
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f0d8d4;
    color: #2a0d14;
}

.formulario-contacto button {
    padding: 10px;
    border-radius: 20px;
    color: #150408;
    border: none;
    background-color: #efc0b9;
}

@media screen and (max-width:800px) {
    .formulario-contacto {
        padding: 20px 30px;
    }
}

/* ------------------  Galery  -------------------- */

.galery {
    width: 100%;
    align-items: center;
    text-align: center;
}

.image-box-galery-s {
    width: 300px;
    height: auto;
}

.image-box-galery-m {
    width: 400px;
    height: auto;
}

.image-box-galery-b {
    width: 800px;
    height: auto;
}

.image-box-galery-toro {
    width: 100%;
    height: auto;
    padding: 20px;
}

.bull-container {
    width: 100%;
}

.image-galery-env {
    height: 40vh;
    width: auto;
    padding: 1vh;
    border-radius: 40px;
}

@media screen and (max-width:800px) {

    .image-box-galery-s {
        width: 100px;
        height: auto;
    }

    .image-box-galery-m {
        width: 100px;
        height: auto;
    }

    .image-box-galery-b {
        width: 200px;
        height: auto;
    }

    .image-box-galery-toro {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .image-galery-env {
        width: 100%;
        height: auto;
        padding: 3px;
        border-radius: 20px;
    }

    #fotter {
        height: 100px;
        background-color: #0b0305d8;
        text-align: center;
        justify-content: center;
    }

    #fotter h3 {
        padding: 8vh;
        font-size: 15px;
    }
}

/* ------------------  About  -------------------- */

#about {
    text-align: justify;
    padding-inline: 10vh;
    margin-bottom: 50px;
}

.about-container {
    width: 100%;
    height: auto;
    padding: 0px 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.about-container p {
    padding-inline: 30px;
}

.profile-card {
    /* position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s ease; */

    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.profile-card:hover {
    transform: rotateY(180deg);
}

.image-profile-container {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
}

.profile-image {
    /* position: absolute; */

    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;

    transform: rotateY(0deg);
}

.profile-image-back {
    /* position: absolute; */

    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;

    transform: rotateY(180deg);

    /* backface-visibility: hidden;
    transform: rotateY(180deg); */
}

@media screen and (max-width:800px) {
    #about {
        text-align: justify;
        padding-inline: 1vh;
        margin-bottom: 50px;
    }

    .about-container {
        width: 100%;
        height: auto;
        padding: 0px 80px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .image-profile-container {
        perspective: 1000px;
        width: 300px;
        height: 300px;
        position: relative;
        cursor: pointer;
    }

    /* 

    .profile-card {
        display: block;
        align-content: center;
        width: 100%;
        height: 200px;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }

    .profile-image {
        position: absolute;
        width: 200px;
        height: auto;
        border-radius: 50%;
        left: 40%;

        display: block;
        margin: auto;
    }

    .profile-image-back {
        position: absolute;
        width: 200px;
        height: auto;
        border-radius: 50%;

        display: block;
        margin: auto;

        backface-visibility: hidden;
        transform: rotateY(180deg);
    } */

    .about-container {
        display: block;
        padding: 5px;
        align-items: center;
    }

    .about-container p {
        padding-inline: 10px;
        font-size: 20px;
    }
}

/* ------------------  Footer  -------------------- */

#fotter {
    height: 20vh;
    background-color: #0b0305d8;
    text-align: center;
    justify-content: center;
}

#fotter h3 {
    padding: 8vh;
}